@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    margin: 0;
    padding: 0;
    color: white;
    background: url('images/cssbackground.png') no-repeat top center;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
}

.menu-box {
    width: 300px;
    /*padding 50px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
    border-radius: 24px;
    text-align: center;
    box-sizing: border-box;
    padding: 70px 30px;
}

.menu-box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.menu-box .mainicon {
    width: 100px;
    height: 100px:
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border: 2px solid #00c7a2;
    border-radius: 50%;
}

.box .mainicon {
    width: 100px;
    height: 100px:
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border: 2px solid #00c7a2;
    border-radius: 50%;
}

.box {
    width: 300px;
    padding 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
    border-radius: 24px;
    text-align: center;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"] {
    border: 0;
    background: none;
    font-size: 15px;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #00c7a2;
    padding 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.2s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    width: 220px;
    border-color: #ffffff;
}

.box dropdown {
    text-align: center;
    transform: translate(-50%, -50%);
}

.box .dropdown-content {
  display: none;
  color: white;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown select {
    background: black;
    color: #fff;
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 2px solid #00c7a2;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    font-size: 15px;
    -webkit-appearance: button;
    outline: none;
}

.box input[type = "submit"] {
    border: 0;
    background: rgba(0,199,163,0.3);
    display: block;
    margin: 20px auto;
    font-size: 15px;
    text-align: center;
    border: 2px solid #00c7a2;
    padding 14px 10px;
    width: 160px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.2s;
}

.box input[type = "button"] {
    border: 0;
    background: rgba(145,188,201,0.3);
    display: block;
    margin: 20px auto;
    font-size: 15px;
    text-align: center;
    border: 2px solid #91bcc9;
    padding 14px 10px;
    width: 160px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.2s;
}

.box input[type = "submit"]:hover {
    width: 180px;
    background: rgba(0,199,163,0.7);
}

.box input[type = "button"]:hover {
    width: 180px;
    background: rgba(145,188,201,0.7);
}

.menu-box input[type = "button"] {
    border: 0;
    background: rgba(0,199,163,0.3);
    display: block;
    margin: 20px auto;
    font-size: 15px;
    text-align: center;
    border: 2px solid #00c7a2;
    padding 14px 10px;
    width: 160px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.2s;
}

.menu-box input[type = "button"]:hover {
    width: 180px;
    background: rgba(0,199,163,0.7);
}
