@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    margin: 0;
    padding: 0;
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    color: white;
    background: url('images/cssbackground.png') no-repeat top center;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    overflow: auto;
}

html {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "grid-title grid-title grid-title"
    "grid-sidebar grid-content-a grid-content-b"
    "grid-sidebar grid-content-a grid-content-b";
    grid-gap: 5px;
    border-radius: 24px;
    text-align: center;
}

.grid-title {
    grid-area: grid-title;
    background: rgba(0,0,0,0.5);
    height: 70px;
    
    font-size: 15px;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    /* flex-wrap: wrap; */
    /*white-space: nowrap;
    direction: rtl; */
}

.grid-title h3 {
    position: absolute;
    left: 15%;
    top: 0.5%;
}

.grid-title input[type = "button"] {
    position: absolute;
    right: 5%;
    float: right;
    clear: both;
}

.grid-sidebar {
    grid-area: grid-sidebar;
    background: rgba(0,0,0,0.8);
    border-radius: 24px;
    text-align: center;
}

.grid-content-a {
    grid-area: grid-content-a;
    background: rgba(0,0,0,0.8);
    border-radius: 24px;
    text-align: center;
}

.grid-content-b {
    grid-area: grid-content-b;
    background: rgba(0,0,0,0.8);
    border-radius: 24px;
    text-align: center;
}

.dashboard-img {
    width: 80px;
    height: 80px;
    top: -50px;
    left: calc(50% - 50px);
    border: 2px solid #00c7a2;
    border-radius: 50%;
}

.dash-manager-img {
    width: 50px;
    height: 50px;
    top: 5px;
    /*left: calc(50% - 50px);*/
    position: absolute;
    left: 3%;
    border: 2px solid #00c7a2;
    border-radius: 50%;
}

.menu-box {
    min-width: 150px;
    max-width: 300px;
    min-height: 20px;
    max-height: 700px;
    position: absolute;
    
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
    border-radius: 24px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    padding: 70px 30px;
}

.response-box {
    width: 85%;
    /* 680 px*/
    height: 95%;
    position: absolute;

    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
    border-radius: 24px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    padding: 70px 30px;
}

.scroll-box {
    background: rgba(0,0,0,0.8);
    width: 99%;
    height: 95%;
    overflow: scroll;
    text-align: left;
    font-size: 15px;
}

.menu-box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.menu-box .mainicon {
    width: 100px;
    height: 100px;
    top: -50px;
    left: calc(50% - 50px);
    border: 2px solid #00c7a2;
    border-radius: 50%;
}

.box .mainicon {
    width: 100px;
    height: 100px;
    top: -50px;
    left: calc(50% - 50px);
    border: 2px solid #00c7a2;
    border-radius: 50%;
}

.response-box .mainicon {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 1.5%;
    left: 35%;
    border: 2px solid #00c7a2;
    border-radius: 50%;
}

.response-box h2 {
    position: absolute;
    top: 0%;
    left: 43%;
}

.box {
    min-width: 300px;
    max-width: 400px;
    
    min-height: 20px;
    max-height: 700px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
    border-radius: 24px;
    text-align: center;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

footer {
    position: fixed;
    margin-top: 15px;
    min-width: 100%;
    max-width: 100%;
    height: 5%;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
}

#footer ul {
  list-style-type: none;
}
#footer ul li {
  display: inline;
  margin: 0 15px;
}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

ul {
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}

ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
}

.box input[type = "text"], .box input[type = "password"], .grid-sidebar input[type = "text"] {
    border: 0;
    background: none;
    font-size: 15px;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #00c7a2;
    /* padding 14px 10px; */
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.2s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus, .grid-sidebar input[type = "text"]:focus {
    width: 220px;
    border-color: #ffffff;
}

.box dropdown {
    text-align: center;
    transform: translate(-50%, -50%);
}

.box .dropdown-content {
  display: none;
  color: white;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown select {
    background: black;
    color: #fff;
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 2px solid #00c7a2;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    font-size: 15px;
    -webkit-appearance: button;
    outline: none;
}

input[type = "number"] {
    background: black;
    color: #fff;
    padding: 10px;
    height: 10px;
    width: 100px;
    text-align: center;
    border: 2px solid #00c7a2;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    font-size: 15px;
    -webkit-appearance: button;
    outline: none;
}


.box input[type = "submit"], .chart-box input[type = "submit"], .grid-sidebar input[type = "submit"] {
    border: 0;
    background: rgba(0,199,163,0.3);
    display: block;
    margin: 20px auto;
    font-size: 15px;
    text-align: center;
    border: 2px solid #00c7a2;
    /* padding 14px 10px; */
    width: 160px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.2s;
}

.go-back-form input[type = "submit"] {
    border: 0;
    position: absolute;
    /*top: 85%;
    left: 45%;*/
    background: rgba(0,199,163,0.3);
    display: block;
    margin: 20px auto;
    font-size: 15px;
    text-align: center;
    border: 2px solid #00c7a2;
    padding 14px 10px;
    width: 160px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.2s;

}

.box input[type = "button"], .grid-title input[type = "button"], .grid-content-a input[type = "button"], .grid-sidebar input[type = "button"] {
    border: 0;
    background: rgba(145,188,201,0.3);
    display: block;
    margin: 20px auto;
    font-size: 15px;
    text-align: center;
    border: 2px solid #91bcc9;
    width: 160px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.2s;
}

.box input[type = "submit"]:hover, .chart-box input[type = "submit"]:hover, .response-box input[type = "submit"]:hover, .grid-sidebar input[type = "submit"]:hover {
    width: 180px;
    background: rgba(0,199,163,0.7);
}

.go-back-form input[type = "submit"]:hover {
    width: 180px;
    background: rgba(0,199,163,0.7);
}

.box input[type = "button"]:hover, .grid-content-a input[type = "button"]:hover, .grid-title input[type = "button"]:hover {
    width: 180px;
    background: rgba(145,188,201,0.7);
}

.menu-box input[type = "button"], .grid-sidebar input[type = "button"]:hover {
    border: 0;
    background: rgba(0,199,163,0.3);
    display: block;
    margin: 20px auto;
    font-size: 15px;
    text-align: center;
    border: 2px solid #00c7a2;
    width: 160px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.2s;
}

.menu-box input[type = "button"]:hover {
    width: 180px;
    background: rgba(0,199,163,0.7);
}

.box input[type = "button"], .grid-title input[type = "button"], .grid-content-b input[type = "button"], .grid-sidebar input[type = "button"] {
    border: 0;
    background: rgba(145,188,201,0.3);
    display: block;
    margin: 20px auto;
    font-size: 15px;
    text-align: center;
    border: 2px solid #91bcc9;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.2s;
}

.box input[type = "button"]:hover, .grid-content-b input[type = "button"]:hover, .grid-title input[type = "button"]:hover {
    width: 210px;
    background: rgba(145,188,201,0.7);
}

.chart-box {
    max-width: 600px;
    
    height: 800px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
    border-radius: 24px;
    text-align: center;

}
